<launch>

    <!-- include machine setup -->
    <include file="$(find distributed_system_upstart)/launch/machines.launch" />

    <!-- start system diagnostics on all machines -->
    <node pkg="distributed_ros" type="system_diagnostics_node" name="machine_main_system_diagnostics" machine="machine_main" />
    <node pkg="distributed_ros" type="system_diagnostics_node" name="machine_aux1_system_diagnostics" machine="machine_aux1" />

    <!-- start diagnostic aggregator on machine_main -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" machine="machine_main" >
        <rosparam command="load" file="$(find distributed_ros)/param/system_analyzer_demo.yaml" />
    </node>

    <!-- start rqt_robot_monitor on machine_main -->
    <node pkg="rqt_robot_monitor" type="rqt_robot_monitor" name="robot_monitor" machine="machine_main" />

</launch>
